button {
    border-radius: 8px;
    border: 1px solid black;
    padding: 3px;
    font-family: inherit;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.25s;
    color: black;
  }
  button:hover {
    background-color: rgba(0, 0, 0, 0.14);
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  #sort {
    height: 25px;
  }

  #submit {
    height: 30px;
    background-color: rgb(212, 153, 43);
    border: 1px transparent;
    border-radius: 3px;
    font-weight: bold;

    &:hover {
      background-color: rgb(164, 118, 32);
    }
  }