#todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px;
    gap: 5px;
}

.listItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 99%;
    color: black;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
}
  
p {
    margin: 0;
}

#taskDone {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px;
    gap: 5px;
}