:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

#addTask {
  margin-top: 5px;
  margin-bottom: 5px;
}

#todo {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 10px;
}

#taskDone {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 10px;
}

#tasks {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 90%;
  padding: 0;
  gap: 10px;
}

#task {
  cursor: pointer;
}

.listItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: black;
  padding: 5px;
}

p {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid black;
  padding: 3px;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  color: black;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.14);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
